language: python

python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"

# command to install dependencies
install:
    - "python setup.py install"
    - pip install python-coveralls

# command to run tests
script:
    - "bin/start-toxiproxy.sh"
    - "python setup.py test"

after_success:
    coveralls
